.textarea-container {
  width: 100%;
  max-width: 680px;
  height: 100%;
  display: flex;
  justify-content: center;

  textarea {
    width: 100%;
    max-width: 680px;
    min-height: 48px;
    max-height: 340px;
    background: transparent;
    color: #0A3871;
    font-size: 32px;
    line-height: 150%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow-y: auto;
    word-wrap:break-word;

    &::placeholder {
      color: #0A3871;
      font-size: 32px;
      line-height: 150%;
      padding: 5px;
      border: none;
      border-radius: 5px;
      outline: none;
      resize: none;
      overflow-y: auto;
      word-wrap:break-word
    }
  }
}