*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
h2, p {
  margin: 0;
}
body {
  font-family: 'Inter', sans-serif;
  background: #F3F5FC
}
.container {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px;
  display: flex;
}

@media screen and (max-width: 1240px) {
  .container {
    flex-direction: column;
  }  
}
@media screen and (max-width: 680px) {
  .container {
    gap: 88px;
  }  
}